*
{
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
body
{
    font-size: 1.6rem;
}
#employeesTable
{
    border-collapse: collapse;
}
.titleTable, .dataTable, .dataFoot
{
    border:2px solid black;
}