*
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6rem;
    margin: 0;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}
p
{
    margin: 0 1rem 0 1rem;
}
#header
{
    width: 100%;
    background-image: url("/CV/img/WhatsApp\ Image\ 2022-12-11\ at\ 17.48.30.jpeg");
    background-size: cover;
    height: 32vw;
}
#main
{
    overflow: auto;
}
#nav
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 5rem;
    justify-content: space-around;
    overflow: auto;
}
